body {
	background-image: url(https://img00.deviantart.net/db68/i/2017/018/6/8/western_town_at_dusk_by_crayonmaniac-davucio.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
h1 + img {
	padding-top:15px;
	margin-bottom:-15px;
}
img {
	border-radius:30px;
}
form > input {
	width:8%;
	height: auto;
	border-radius:5px;
	font-size:1.5rem;
	background-color: #9D4828;
	color: #fff;

}
audio {
	width:170px;
    display:table;
    margin:20px auto;
}
form > .envio {
	width:80px;
}
form > .oculto {
	width:100px;
	display:none;
}
#contenedor {
	font-family:"Palatino Linotype";
	text-align:center;
	width:70%;
	margin:10px auto auto auto;
	padding:0px 20px 20px 20px;
	border-radius:15px;
}
#palabra {
	height:50px;
	color: #fff;
	padding-bottom:30px;
	visibility:hidden;
	font-size: 2rem;
}